p{
    font-size: 1.14286rem;
    line-height: 1.6em;
    margin-bottom: 1rem;
    text-rendering: optimizeLegibility;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.8;
    color: #555;
    -webkit-font-smoothing: antialiased;
}
html{
    -webkit-tap-highlight-color: transparent;
}
.h4{
    font-size: 1.71429rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: .5rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: black;
    text-rendering: optimizeLegibility;
}
.cell_medium_6{
    margin-left: .71429rem;
    margin-right: .71429rem;
    width: calc(50% - 2.14286rem);
    display: inline-block;
}
div > label > input{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2.87143rem;
    margin: 0 0 1.14286rem;
    padding: .57143rem;
    border: 1px solid #ccc;
    border-radius: 0;
    background-color: #fff;
    box-shadow: none;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.8;
    color: #000;
    transition: box-shadow 0.5s,border-color 0.25s ease-in-out,-webkit-box-shadow 0.5s;
}
label{
    display: block;
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.8;
    color: #000;
}
select{
    height: 2.92857rem;
    border: 1px solid #ccc;
    padding: 0 32px 0 15px;
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    border-radius: 0;
    background-position: right -20px center;
}
.Separatore{
    height: 1px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #ccc;
}
textarea{
    min-width: 100%;    
    max-width: 100%;
    width: 100%;
}
.cell_medium{
    margin-left: .71429rem;
    margin-right: .71429rem;
    display: inline-block;
    width: calc(100% - 2.14286rem);
}
.o{
    width: auto;
    float: left;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}

input[type="checkbox"],
input[type="radio"]{
    position: absolute;
    width: 0;
    height: 0;
    top:0;
    left: 0;
    opacity: 0;
}
.checkbox-input{
    display: inline-block;position: relative;
    padding-left:30px;
    text-transform: none;
    line-height: 18px;
    margin:0;
}

.checkbox-input:before,
.checkbox-input:after{
    content: '';
    position: absolute;
}

.checkbox-input:before{
    content: '';
    position: absolute;
}