body {
    background-color: rgb(92, 55, 255);
    font-family: 'Montserrat', sans-serif;
}

div {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 90px;
    font-weight: bold;
    color:rgb(60, 255, 0) ;
    border-bottom: 30px solid  rgb(34, 171, 235);
}

/* div span:before{
    content: '';
    position: absolute;
    bottom: 0;
    background:white;
    width: 100%;
    height: 10px;
} */

div span {
    position: relative;
    display: inline-block;
    animation: rotation 1s linear infinite;
}

span {
    text-transform: uppercase;
}

div span:nth-child(1) {
    animation-delay: 0.2s;
}

div span:nth-child(2) {
    animation-delay: 0.4s;
}

div span:nth-child(3) {
    animation-delay: 0.6s;
}

div span:nth-child(4) {
    animation-delay: 0.8s;
}

@keyframes rotation {
    0% {
        transform: rotateY(0) translateY(0) rotateX(0);
        opacity: 1;
    }
    50% {
        transform: rotateY(180deg) translateY(-30px) rotateX(180deg);
        opacity: 0.6;
    }
    95% {
        transform: rotateX(360deg);
        opacity: 0.8;
    }
    100% {
        transform: rotateY(360deg) translateY(0) rotateX(0);
        opacity: 1;
    }
}