.main-wrapper{
    background: wheat;
}

.flex-container{
    display: flex;
}
.flex-xy-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fs{
    width: 100vw;
    height: 100vh;
}
.spinner{
    display: flex;
    flex-wrap: wrap;
    width: 99.5%;
    height: 99%;
    background: red;
    padding:4px;
    border-radius: 3px;
    opacity: .3;
}

.spinner div{
    background: rgb(47, 188, 253);
    width: 10%;
    height: 10%;
    border-radius: 3px;
    animation:  3s Muovit infinite;
}
/* 
.spinner div:nth-child(1){
    animation-delay: .25s;
}
.spinner div:nth-child(2){    
    animation-delay: .5s;
}
.spinner div:nth-child(4){    
    animation-delay: .75s;
}
.spinner div:nth-child(3){    
    animation-delay: 1s;
} */

@keyframes Muovit{
    0%{
        transform:scale(1);
    }
    10%{
        transform:scale(.3);
    }
    30%{
        opacity:0;
    }
    100%{        
        opacity: 1;
        transform:scale(1);
    }
}