.Header{
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed; 
    display: flex;
    justify-content: space-around;
    top: 0; 
    width: 100%;
    z-index:100;

    & > div
    {        
        margin: auto 0;
        & > a
        {        
            color:white;
            background: transparent;
            border:0;
            font-size: 16px; 
            font-weight: 700;
            margin-right: 20px;
            text-decoration: none;
        }
    }    
}